<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Biljett #{{ .T.Value }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <style type="text/css" media="screen">
      body {
        font-family: 'Helvetica Neue', sans-serif;
        text-align: center;
        font-weight: 200;
      }

      .info {
        font-size: 13.9px;
      }

      .current, .estimated {
        font-size: 27.8px;
      }

      .value {
        font-size: 166.7px;
        font-weight: 100;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="info">Nu betjänas:</div>
      <div class="current">
        {{ .C }}
      </div>
    </div>
    <div class="value">
      {{ .T.Value }}
    </div>
    <div>
      <div class="info">Beräknad återstående tid:</div>
      <div class="estimated">
        {{ .R }}
      </div>
    </div>
  <body>
</html>
